
<div class="col-md-8 col-md-offset-2">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <%= simple_form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.input :email%>
    <%= f.input :name %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :phone %>
    <%= f.input :title %>
    <%= f.input :company %>
    <%= f.input :country, as: :country %>
    <%= image_tag(resource.photo.small) if resource.photo.present? %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit%>
  <% end %>
</div>
