
<div class="col-md-12">
  <h2>My Profile</h2>
  <%= simple_form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="col-md-4">
    <%= f.input :email%>
    <%= f.input :name %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :phone %>
    </div>
    <div class="col-md-4">
      <%= f.input :title %>
      <%= f.input :company %>
      <%= f.input :twitter %>
      <%= f.input :country, as: :country %>
    </div>
    <div class="col-md-4">
    <%= image_tag(resource.photo.small) if resource.photo.present? %>
    <%= f.input :photo, as: :file %>
    </div>
    <div class="col-md-12 text-right">
    <hr />
    <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
