<%= form_for(@paper) do |f| %>
  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% @paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Title %><br>
    <%= f.text_field :Title %>
  </div>
  <div class="field">
    <%= f.label :Abstract %><br>
    <%= f.text_field :Abstract %>
  </div>
  <div class="field">
    <%= f.label :Outline %><br>
    <%= f.text_field :Outline %>
  </div>
  <div class="field">
    <%= f.label :FileName %><br>
    <%= f.file_field :FileName %>
  </div>
  <div class="field">
    <%= f.label :Status %><br>
    <%= f.text_field :Status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
