<br>
<%= simple_form_for [@activity, @paper], :html => { :multipart => true } do |f| %>
    <div class="well">
      <h2>Speaker Name：<%= current_user.name %></h2>
      <h3>Add co-presenter:
        <%=  f.input :inviting_email,size: "60x12" %>
      </h3>
    </div>
    <div class="well">
      <h2>Proposals</h2>
      <div class="field">
        <%= f.input :title %><br>
      </div>
      <div class="field">
        <%= f.input :abstract,input_html: { preview: true, rows: 10 }, class: "form-control" %><br>
      </div>
      <div class="field">
        <%= f.input :outline,input_html: { preview: true, rows: 10 }, class: "form-control" %><br>
      </div>

      <div class="field">
        <%= f.input :speaker_avatar %><br>
        <br>
        <%= "Uploaded File: " if @paper.speaker_avatar.present? %>
        <%= link_to "Here", @paper.speaker_avatar.url if @paper.speaker_avatar.present? %>
      </div>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
