<%= simple_form_for [@activity, @paper], :html => { :multipart => true } do |f| %>
  <% if @paper.errors.any? %>
    <div class="alert alert-warning">
      <h2>Please fill in all columns:</h2>

      <ul>
      <% @paper.errors.full_messages.each do |message| %>
        
        <li><%= message %></li>
       

      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Speaker Name：<%= current_user.name %></h2>
  <h3>Add co-presenter:
      <%=  f.input :inviting_email,size: "60x12" %>
  </h3>
   
  <hr>
  <h2>Proposals</h2>    


  <div class="field">
    <%= f.input :title %><br>
  </div>
  <div class="field">
    <%= f.input :abstract,input_html: { preview: true, rows: 10 }, class: "form-control" %><br>
  </div>
  <div class="field">
    <%= f.input :outline,input_html: { preview: true, rows: 10 }, class: "form-control" %><br>
  </div>
  <div class="field">
    <%= f.input :file_name %><br>
    <br>
    <%= "Uploaded File: " if @paper.file_name.present? %>
    <%= link_to "Here", @paper.file_name.url if @paper.file_name.present? %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
