<%= form_for [@activity, @paper], :html => { :multipart => true } do |f| %>
  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% @paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :abstract %><br>
    <%= f.text_field :abstract %>
  </div>
  <div class="field">
    <%= f.label :outline %><br>
    <%= f.text_field :outline %>
  </div>
  <div class="field">
    <%= f.label :file_name %><br>
    <%= f.file_field :file_name %>
    <br>
    <%= "Uploaded File: " if @paper.file_name.present? %>
   <%= link_to "Here", @paper.file_name.url if @paper.file_name.present? %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
