<p id="notice"><%= notice %></p>

<h1>Listing Papers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Abstract</th>
      <th>Outline</th>
      <th>Filename</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.title %></td>
        <td><%= paper.abstract %></td>
        <td><%= paper.outline %></td>
        <td><%= paper.fileName %></td>
        <td><%= paper.status %></td>
        <td><%= link_to 'Show', activity_paper_path(@activity,paper) %></td>
        <td><%= link_to 'Edit', edit_activity_paper_path(@activity, paper) %></td>
        <td><%= link_to 'Destroy', activity_paper_path(@activity,paper), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paper', new_activity_paper_path(@activity) %>
