<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @paper.abstract %>
</p>

<p>
  <strong>Outline:</strong>
  <%= @paper.outline %>
</p>

<p>
  <strong>Uploaded File:</strong>
    <%= link_to "Here", @paper.file_name.url if @paper.file_name.present?  %>
</p>

<p>
  <strong>Status:</strong>
  <%= @paper.status %>
</p>

<%= link_to 'Edit', edit_activity_paper_path(@activity, @paper) %> |
