<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @paper.id %></h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Abstract</th>
        <th>Outline</th>
        <th>Filename</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>
     <tbody>
     <tr>
        <td><%= @paper.title %></td>
        <td><%= @paper.abstract %></td>
        <td><%= @paper.outline %></td>
        <td><%= image_tag(@paper.speaker_avatar.url) %></td>
        <td><%= @paper.state %></td>
        <td><%= link_to 'Show', activity_paper_path(@activity,@paper) %></td>
        <td><%= link_to 'Edit', edit_activity_paper_path(@activity, @paper) %></td>
        <td><%= link_to 'Destroy', activity_paper_path(@activity,@paper), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      </tbody>
  </table>
</div>

<%= link_to 'Edit', edit_activity_paper_path(@activity, @paper) %>
