<div class="col-md-10 col-md-offset-1">
    <div class="page-header">
      <h1>My Proposals</h1>
    </div>

    <% @activities.each do |activities| %>
            <table class="table">
                <h2>會議名稱:<%=activities.name %></h2>
            <table>
    <div class="panel panel-default">
        <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Abstract</th>
                <th>Outline</th>
                <th>Filename</th>
                <th>Status</th>
                <th>Activity</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

                <% activities.papers.where(user_id: current_user.id).each do |paper| %>
                    <tr>
                        <td><%=paper.title %></td>
                        <td><%=paper.abstract%></td>
                        <td><%=paper.outline%></td>
                        <td><%=image_tag(paper.file_name,height: '100', width: '100')%></td>
                        <td><%=paper.state%></td>
                        <td><%= paper.activity.name%></td>
                        <td><%= paper.activity.id%></td>

                        <td><%= link_to 'Show', activity_paper_path(paper.activity,paper) %></td>
                        <td><%= link_to 'Edit', edit_activity_paper_path(paper.activity, paper) %></td>
                        <td><%= link_to 'Destroy', activity_paper_path(paper.activity,paper), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                     </tr>
                <%end%>

    <%end%>
            </tbody>
        </table>
    </div>
</div>
