
<div class="col-md-12">
  <h1>Activities Management</h1>
  <%= link_to "Create New Activity", new_admin_activity_path, class: "btn btn-primary" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Logo</th>
        <th>Event Date</th>
        <th>Papers</th>
        <th>Management</th>
        <th>Export</th>
      </tr>
    </thead>
    <tbody>
      <% if @activities.empty? %>
        <tr>
          <td colspan="6">No activity now</td>
        </tr>
      <% else %>
        <% @activities.each do |activity| %>
          <tr id="activity_<%= activity.id %>">
            <td><%= activity.id %></td>
            <td><%= activity.name %></td>
            <td><%= image_tag(activity.logo, height: 100, width: 100) %></td>
            <td><%= activity.start_date %> ~ <%= activity.end_date %></td>
            <td><%= activity.papers_count %></td>
            <td>
              <%= link_to admin_activity_path(activity), title: "Show" do%>
                <i class="glyphicon glyphicon-zoom-in"></i>
              <%end%>
              <%= link_to edit_admin_activity_path(activity), title: "Edit" do%>
                <i class="glyphicon glyphicon-pencil"></i>
              <%end%>
              <%= link_to admin_activity_papers_path(activity), title: "Papers" do %>
                <i class="glyphicon glyphicon-check"></i>
              <%end%>
              <%= link_to admin_activity_stats_path(activity), title: "Stats" do %>
                <i class="glyphicon glyphicon-menu-hamburger"></i>
              <%end%>
              <%= link_to admin_activity_path(activity), method: :delete, title: "Remove", data: {confirm: "Are you sure?"} do %>
                <i class="glyphicon glyphicon-remove"></i>
              <%end%>
              <%= link_to dup_admin_activity_path(activity), method: :put, title: "Duplicate" do %>
                <i class="glyphicon glyphicon-duplicate"></i>
              <%end%>

            </td>
            <td>
              <%= link_to "Speakers", admin_activity_speakers_path(activity, format: "yml"), class: "btn btn-default" %>
              <%= link_to "Papers", admin_activity_papers_path(activity, format: "yml"), class: "btn btn-default" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
