<div class="col-md-9 col-md-offset-1">
  <h1>Activities Management</h1>
  <%= link_to "Create New Activity", new_admin_activity_path, class: "btn btn-primary" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Logo</th>
        <th>Event Date</th>
        <th>Papers</th>
        <th>Management</th>
      </tr>
    </thead>
    <tbody>
      <% if @activities.empty? %>
        <tr>
          <td colspan="6">No activity now</td>
        </tr>
      <% else %>
        <% @activities.each do |activity| %>
          <tr>
            <td><%= activity.id %></td>
            <td><%= activity.name %></td>
            <td><%= image_tag(activity.logo, height: 100, width: 100) %></td>
            <td><%= activity.start_date %> ~ <%= activity.end_date %></td>
            <td><%= activity.papers_count %></td>
            <td>
              <%= link_to "Detail", admin_activity_path(activity), class:"btn btn-default" %>
              <%= link_to "Edit", edit_admin_activity_path(activity), class:"btn btn-default" %>
              <%= link_to "Review Paper", admin_activity_papers_path(activity), class: "btn btn-primary"%>
              <%= link_to "Remove", admin_activity_path(activity), method: :delete, class:"btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
