<div class="text-center"><h1>Activities Management</h1></div>
<br>
<% if @activities.empty? %>
	<div class="col-md-9 col-md-offset-1">
		<h2 class="text-center">No Activities Now</h2>
	</div>
<% else %>
	<div class="col-md-9 col-md-offset-1">

		<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>name</th>
				<th>logo</th>
				<th>start date</th>
				<th>end date</th>
				<th>papers count</th>
				<th>management</th>
			</tr>
		</thead>
		<tbody>
			<% @activities.each do |activity| %>
			<tr>
				<td><%= activity.id %></td>
				<td><%= activity.name %></td>
				<td><%= image_tag(activity.logo, height: 100, width: 100) %></td>
				<td><%= activity.start_date %></td>
				<td><%= activity.end_date %></td>
				<td><%= activity.papers_count %></td>
				<td>
					<%= link_to "show", admin_activity_path(activity), class:"btn btn-default" %>
          <%= link_to "show papers", admin_activity_papers_path(activity), class: "btn btn-default"%>
					<%= link_to "assign reviewers", admin_activity_reviewers_path(activity), class:"btn btn-default" %>
					<%= link_to "destroy", admin_activity_path(activity), method: :delete, class:"btn btn-default" %>
				</td>
			</tr>
			<% end %>
		</tbody>
		</table>
	</div>
<% end %>
<div class="col-md-2">
	<%= link_to "Create New Activity", new_admin_activity_path, class: "btn btn-primary" %>
</div>
