<div class="text-center"><h1>Activities</h1></div>
<br>
<% if @activities.empty? %>
	<div class="col-md-10">
		<h2 class="text-center">No Activities Now</h2>
	</div>
<% else %>
<div class="well well-lg col-md-12">
					<h1> <%= Time.now %> </h1>
				</div>
	<div class="col-md-10">
		<% @activities.each do |activity| %>
			<%= link_to activity do %>
					<div class="well well-lg col-md-12">
						<div class="col-md-8">
							<h2><%= activity.name %></h2>
						</div>
						<div class="col-md-4">
							<h5 class="pull-right"><%= activity.start_date %> ~ <%= activity.end_date %></h5>
							 
						</div>
						<div class="col-md-12">
							<span class="pull-right"><%= pluralize(activity.papers_count, 'paper') %> now</span>
						</div>
					</div>
			<% end %>
		<% end %>
	</div>
<% end %>
<div class="col-md-2">
	<%= link_to "Create New Activity", new_activity_path, class: "btn btn-primary" %>
</div>