<h1 class="text-center">Create a New Activity</h1>
<%= form_for @activity do |f| %>
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
		  <%= f.label :name %><br />
		  <%= f.text_field :name, class: "form-control", autofocus: true %>
		</div>

		<div class="form-group">
		  <%= f.label :subtitle %><br />
		  <%= f.text_field :subtitle, class: "form-control"%>
		</div>

		<div class="form-group">
		  <%= f.label :start_date %><br />
		  <%= f.date_field :start_date, class: "form-control"%>
		</div>

		<div class="form-group">
		  <%= f.label :end_date %><br />
		  <%= f.date_field :end_date, class: "form-control"%>
		</div>		

		<div class="actions">
		  <%= f.submit "Create" %>
		</div>
	</div>
<% end %>