<h1 class="text-center">Create a New Activity</h1>
<%= simple_form_for @activity do |f| %>
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
		  <%= f.input :name, class: "form-control", autofocus: true %>
		</div>

		<div class="form-group">
		  <%= f.input  :subtitle, class: "form-control" %>
		</div>

		<div class="form-group">
		  <%= f.input :start_date, class: "form-control" %>
		</div>

		<div class="form-group">
		  <%= f.input :end_date, class: "form-control" %>
		</div>	

		<div class="form-group">
		  <%= f.input :term, as: :pagedown, 
		  	input_html: { preview: true, rows: 10 },  class: "form-control" %>
		</div>				

		<div class="actions">
		  <%= f.button :submit %>
		</div>
	</div>
<% end %>