<div class="container">
  <div class="jumbotron">
	<div class="row">
		<div class="col-sm-8">
	  		<h2><%= @activity.name %></h2>
		</div>
		<div class="col-sm-4 text-center">
	  		<%= image_tag @activity.logo.url, class: "img-thumbnail" %>
		</div>    
	</div>
	<br>
    <h2 class="text-center"><u>Description</u></h2>
    <div class="well">
      <div class="markdown-output"><%= @activity.description %></div>
    </div>
    <br>  
  	<h2 class="text-center"><u>Terms</u></h2>
  	<div class="well">
  		<div class="markdown-output"><%= @activity.term %></div>
  	</div>
  	<div class="text-center">
  		<input type="checkbox" name="agree" value="1" id="agree-checkbox"> I Agree</input><br>
  	</div>  	
  </div>
  <%= link_to "Submit A Paper", 
  	new_activity_paper_path(@activity), class: "btn btn-primary btn-create-paper col-md-8 col-md-offset-2" %>
  <br>
  <br>
</div>
